<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>订单回收-快递代拿系统</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" href="../../static/layui/css/layui.css" media="all">
    <link rel="stylesheet" th:href="@{/css/public.css}" href="../../static/css/public.css" media="all">
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">

        <fieldset class="table-search-fieldset">
            <legend>订单查询</legend>
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">订单状态</label>
                            <div class="layui-input-inline">
                                <select id="inputOrderStatus">
                                    <option value=-1>所有状态</option>
                                    <option value=1>等待接单</option>
                                    <option value=2>派送中</option>
                                    <option value=3>订单完成</option>
                                    <option value=4>订单异常</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">起始日期</label>
                            <div class="layui-input-inline">
                                <input type="date" id="inputStartDate" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">截止日期</label>
                            <div class="layui-input-inline">
                                <input type="date" id="inputEndDate" autocomplete="off" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-inline">
                            <label class="layui-form-label">支付状态</label>
                            <div class="layui-input-inline">
                                <select id="inputPaymentStatus">
                                    <option value=-1>所有状态</option>
                                    <option value=1>等待支付</option>
                                    <option value=2>支付关闭</option>
                                    <option value=3>支付成功</option>
                                    <option value=4>支付结束</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">订单号</label>
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input" autocomplete="off" id="inputId">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button type="submit" class="layui-btn layui-btn-primary"  lay-submit lay-filter="data-search-btn"><i class="layui-icon"></i> 搜索</button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>

        <!--列表工具栏-->
        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-sm data-add-btn layui-btn-primary"  lay-event="refresh"> 刷新 </button>
                <button type="button" class="layui-btn layui-btn-sm layui-btn-normal" lay-event="rollback">还原订单</button>
            </div>
        </script>


        <!--反馈列表-->
        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>
    </div>
</div>

<script th:src="@{/layui/layui.js}" src="../../static/layui/layui.js" charset="utf-8"></script>
<script th:src="@{/js/jquery-3.4.1/jquery-3.4.1.min.js}" src="../../static/js/jquery-3.4.1/jquery-3.4.1.min.js" charset="utf-8" type="text/javascript"></script>
<script th:src="@{/js/http.js}" src="../../static/js/http.js"></script>
<script  type="text/javascript"  th:inline="none">
    layui.use(['form', 'table','layer'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table,
            layer = layui.layer;

        table.render({
            elem: '#currentTableId',
            url: '/order/list',
            toolbar: '#toolbarDemo',
            cellMinWidth: 80,
            defaultToolbar: ['filter', 'exports', 'print', {
                title: '提示',
                layEvent: 'LAYTABLE_TIPS',
                icon: 'layui-icon-tips'
            }],
            cols: [[
                {type: "checkbox"},
                {field: 'id',title: '订单号'},
                {field: 'deleteType', title: '删除原因',
                    templet: function deleteTypeFormatter(value) {
                        if(value.deleteType != null) {
                            if(value.deleteType === 1)
                                return '<span style="color:#0006f5">订单撤销</span>';
                            else if (value.deleteType === 2)
                                return '<span style="color:#ff7f16">手动删除</span>';
                            else if (value.deleteType === 3)
                                return '<span style="color:red">系统删除</span>';
                        }
                    }
                },
                {field: 'odd', title: '快递单号'},
                {field: 'company', title: '快递公司'},
                {field: 'recName',  title: '收件人'},
                {field: 'recTel', title: '收件电话'},
                {field: 'address', title: '快递寄达地址'},
                {field: 'recAddress', title: '收件地址'},
                {field: 'remark',title: '下单备注'},
                {field: 'paymentStatus', title: '支付状态', sort: true,
                    templet: function paymentFormatter(value) {
                        if(value.paymentStatus === 1)
                            return '<span style="color:#f5a623">等待支付</span>';
                        else if (value.paymentStatus === 2)
                            return '<span style="color:red">支付关闭</span>';
                        else if (value.paymentStatus === 3)
                            return '<span style="color:green">支付成功</span>';
                        else if (value.paymentStatus === 4)
                            return '<span style="color:grey">支付结束</span>';
                    }
                },
                {field: 'orderStatus', title: '订单状态', sort: true,
                    templet: function orderFormatter(value) {
                        if(value.orderStatus === 4)
                            return '<span style="color:red">订单异常</span>';
                        else if (value.orderStatus === 3)
                            return '<span style="color:olivedrab">订单完成</span>';
                        else if (value.orderStatus === 2)
                            return '<span style="color:#42afff">派送中</span>';
                        else if (value.orderStatus === 1)
                            return '<span style="color:grey">等待接单</span>';
                    }
                },
                {field: 'createDate', title: '下单时间'}
            ]],
            where:{type:1},
            limits: [10, 15, 20, 25, 50, 100],
            limit: 15,
            page: true,
            parseData: function(res){
                console.log(res);
                return {
                    "code": 0,
                    "msg": "",
                    "count": res.total,
                    "data":res.rows
                }
            },
            skin: 'line'
        });

        // 监听搜索操作
        form.on('submit(data-search-btn)', function () {
            //执行搜索重载
            table.reload('currentTableId', {
                url:'/order/list',
                page: {
                    curr: 1
                }, where: {
                    type: 1,
                    id: $("#inputId").val(),
                    status: $("#inputOrderStatus").val(),
                    payment: $("#inputPaymentStatus").val(),
                    startDate: $("#inputStartDate").val(),
                    endDate:$("#inputEndDate").val()
                }
            });

            return false;
        });

        /**
         * toolbar监听事件
         */
        table.on('toolbar(currentTableFilter)', function (obj) {
            if (obj.event === 'refresh') {  // 监听刷新操作
                $("#inputId").val("");
                $("#inputOrderStatus").val(-1);
                $("#inputPaymentStatus").val(-1);
                $("#inputStartDate").val("");
                $("#inputEndDate").val("");
                form.render(); //重置刷新表单
                table.reload('currentTableId', {
                    url:'/order/list',
                    page: {curr: 1}, where: {
                        id:null,
                        status:null,
                        payment:null,
                        startDate:null,
                        endDate:null
                    }
                });
            }
            else if (obj.event === 'rollback') {
                let checkStatus = table.checkStatus('currentTableId');
                if (checkStatus.data.length > 0) {
                    let ids = new Array();
                    for (let i = 0; i < checkStatus.data.length; i++) {
                        ids.push(checkStatus.data[i].id);
                    }
                    if (ids.length === 0) {
                        layer.msg("您未选中任何订单", {icon: 0});
                        return false;
                    } else {
                        layer.confirm("是否恢复被选中订单？", {
                            btn: ['确定', '取消']
                        }, function () {
                            sendArray(HTTP.POST, "/order/batch-rollback", {"ids": ids}, false, function (res) {
                                if (res.code === 0) {
                                    layer.msg("成功，撤销" + res.data.success + "个，失败" + res.data.error + "个", {icon: 1});
                                    table.reload('currentTableId', {
                                        url: '/order/list',
                                        page: {curr: 1}, where: {
                                            id: null,
                                            status: null,
                                            payment: null,
                                            startDate: null,
                                            endDate: null
                                        }
                                    });
                                }
                            }, function () {
                                layer.msg("未知错误", {icon: 2});
                            });
                        }, function () {
                        });
                    }
                }
            }
        })
    })
</script>
</body>
</html>